.addition {
    height: 35px;
    position: relative;
    cursor: pointer;
}

.addition-arrow {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translate(0, -50%);
}

.addition-text {
    position: absolute;
    left: 11%;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 90%;
    width: 72%;
}

.addition-sign {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
}

.add-label {
    height: 25px;
    position: relative;
    border-radius: 10px;
    box-shadow: #a9a9a9 1px 1px 2px 2px;
    background-color: white;

}

.add-label-name {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}

.add-label-image {
    width: 16px;
    height: 16px;
    position: absolute;
    left : 4%;
    top: 50%;
    transform: translateY(-50%);
}

.add-label-confirm {
    width: 17px;
    height: 17px;
    background-color: white;
    position: absolute;
    right : 4.9%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.label-controller {
    box-shadow: #a9a9a9 1px 1px 3px 3px;
    border-radius: 10px;
    margin-bottom: 3px;
    background-color: white;
}

.project-selector {
    box-shadow: #a9a9a9 1px 1px 3px 3px;
    border-radius: 10px;
    margin-top: 3px;
    background-color: white;
}

.single-project {
    height: 25px;
    position: relative;
    border-top: #dcdcdc 1px solid;
    border-left: #dcdcdc 1px solid;
    border-right: #dcdcdc 1px solid;
    border-radius: 10px;
}

.single-project:hover {
    box-shadow: #a9a9a9 1px 1px 2px 2px;
}

.single-project-text {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.single-project-image {
    width: 16px;
    height: 16px;
    position: absolute;
    left : 4%;
    top: 50%;
    transform: translateY(-50%);
}

.single-project-delete {
    width: 16px;
    height: 16px;
    position: absolute;
    right : 5.25%;
    top: 50%;
    font-size: 50%;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
}
