.add-project {
    border: black 1px solid;
    height: 25px;
    position: relative;
}

.add-project-name {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}

.add-project-image {
    width: 16px;
    height: 16px;
    position: absolute;
    left : 4%;
    top: 50%;
    transform: translateY(-50%);
}

.add-project-confirm {
    font-size: 60%;
    background-color: white;
    position: absolute;
    right : 4%;
    top: 50%;
    transform: translateY(-50%);
}

.project-controller {
    margin-top: 3px;
    box-shadow: #a9a9a9 1px 1px 3px 3px;
    border-radius: 10px;
}