.calendar {
    border-radius: 6px;
    box-shadow: #a9a9a9 3px 3px 13px 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.dates {
    margin-top: 1%;
    margin-left: 2%;
    padding-bottom: 1%;
    width: 510px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.calendar-interface {
    margin-top: 3%;
    width: 510px;
    text-align: center;
}

.grid-cell {
    width: 70px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
}

.month {
    font-family: sans-serif;
    font-size: 130%;
}

.arrow {
    width: 2.3%;
    height: 2.3%;
    padding-top: 1%;
    cursor: pointer;
}
.left-double-arrow {
    margin-left: 6%;
    float: left;
}
.right-double-arrow {
    margin-right: 6%;
    float: right;
}
.left-arrow {
    margin-left: 3%;
    float: left;
}
.right-arrow {
    margin-right: 3%;
    float: right;
}

.event-calendar {
    border-radius: 5px;
    box-shadow: #a9a9a9 3px 3px 12px 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 70%;
    left: 20%;
    top: 120%;
    z-index: 3;
}

.event-calendar-interface {
    margin-top: 3%;
    width: 100%;
    text-align: center;
}

.event-calendar-month {
    font-family: sans-serif;
    font-size: 1vw;
}

.event-calendar-dates {
    margin-top: 1%;
    margin-left: 2%;
    padding-bottom: 1%;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.grid-cell-event-calendar {
    width: 13.3%;
    height: 165%;
    line-height: 165%;
    text-align: center;
    font-size: 12%;
    cursor: pointer;
}