body {
    background-color: #F5F5F5;
}

.home-wrapper {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    border: #C0C0C0 1px solid;
    min-height: 170px;
    height: 27vw;
    width: 28%;
    border-radius: 8px;
    background-color: #ffffff;
}

.home-wrapper:hover {
    box-shadow: #a9a9a9 3px 3px 13px 5px;
    min-height: 170px;
    height: 27vw;
    width: 28.1%;
}

.phrase-I {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
}

.phrase-II {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    margin-top: 10%;
    margin-left: 45%;
}

.user-input {
    font-size: 1vw;
    display: block;
    width: 45%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0 5px;
}

.cue-word {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1vw;
    margin-left: 7.4vw;
}

.log-in {
    margin-top: 5%;
    margin-left: 8.5vw;
    border-radius: 5px;
    border-width: 0;
    background-color: #dc4c3e;
    color: #fff;
    padding: 5px 10px;
    font-size: 1vw;
    width: 17%;
    height: 7%;
}

.sign-up {
    margin-top: 5%;
    margin-left: 2.3vw;
    border-radius: 5px;
    border-width: 0;
    background-color: #dc4c3e;
    color: #fff;
    padding: 5px 10px;
    font-size: 1vw;
    width: 17%;
    height: 7%;
}