.single-label {
    height: 25px;
    position: relative;
    border-top: #dcdcdc 1px solid;
    border-left: #dcdcdc 1px solid;
    border-right: #dcdcdc 1px solid;
    border-radius: 10px;
}

.single-label:hover {
    box-shadow: #a9a9a9 1px 1px 2px 2px;
}

.single-label-text {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.single-label-image {
    width: 16px;
    height: 16px;
    position: absolute;
    left : 4%;
    top: 50%;
    transform: translateY(-50%);
}

.single-label-delete {
    width: 16px;
    height: 16px;
    position: absolute;
    right : 5.25%;
    top: 50%;
    font-size: 50%;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
}